# Data files
15-Recommender-Systems/ratings.csv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs and Editors
.vscode/
.idea/
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Saved models and checkpoints
*.h5
*.pkl
