numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
scipy==1.15.3
seaborn==0.13.2
plotly==6.0.1
folium==0.19.5
torch==2.12.0+cu130
cufflinks==0.17.3
chart-studio==1.1.0
pandas-datareader==0.10.0
nltk==3.9.1
matplotlib==3.9.0
psutil==7.0.0
tensorflow==2.16.1
